:root, page {
	// 门店端
	--store-bg-one:#FBD700;
	--store-bg-two:#FF4B14;
	--store-bg-three:#00CB7A;
	--store-bg-four:#E6E6E6;
	// 师傅端
	--technician-bg-one:#004FFF;
	--technician-bg-two:#FFCD00;
	--technician-bg-little:#F3F8FF;
	--technician-bg-three:#00CB7A;
	--technician-bg-four:#111111;
}
